@model Headlines

@{
    ViewData["Title"] = "Brownies";
}

<div class="headerTags col s12">
    <div>Filter By Categories:</div>
    <div>
        <partial name="SmallBtnLinksPartial" model="@ApiUtils.TopHeadlinesCategories" />
    </div>
</div>

@if (Model != null)
{
    foreach (var article in Model.Articles)
    {
        <partial name="ArticleCardPartial" model="article" />
    }
}